<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Occured</title>
    <link rel="stylesheet" th:href="${baseUrl}+'/css/style.css'" />
  </head>
  <body>
    <header>
        <nav>
            <div class="logo-container">
                <a th:href="#{homeUrl}" class="logo">Cromxt</a>
            </div>
        </nav>
    </header>
    <div class="content-box">
      <h2 class="text-heading__small align-text__center text-color__primary">
        Opps! Something went wrong
      </h2>
      <a class="button__secondary" th:href="${homeUrl}">Back To home</a>
    </div>
  </body>
</html>
