<!doctype html>
<html lang="en" th:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="${baseUrl}+'/css/style.css'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script th:src="${baseUrl}+'/js/jquery-3.7.1.min.js'" defer></script>
    <script th:src="${baseUrl}+'/js/find-account.js'"></script>
    <title>Find Account | CROMXT Distributed Systems</title>
</head>
<body>

<header>
    <nav>
        <div class="logo-container">
            <a th:href="${homeUrl}" class="logo">Cromxt</a>
        </div>
        <div>
            <a th:href="${baseUrl}+'/auth/sign-in'" class="button__primary">Sign-in <i class="fas fa-arrow-right"></i></a>
        </div>
    </nav>
</header>

<main>
    <div class="content-box">
        <h1 class="text-heading__small align-text__center">
            Find Your Account
        </h1>
    </div>
</main>

</body>
</html>