<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <script th:inline="javascript">
    /*<![CDATA[*/
    const baseUrl = /*[[${baseUrl}]]*/ "";
    const redirectUrl = /*[[@{${redirectUrl}}]]*/ "";
    /*]]>*/
  </script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cromxt Services | User Login</title>
    <link rel="stylesheet" th:href="@{${baseUrl}+'/css/style.css'}" />
    <script th:src="@{${baseUrl}+'/js/jquery-3.7.1.min.js'}" defer></script>
    <script th:src="@{${baseUrl}+'/js/script.js'}" defer></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo-container">
          <a href="${homeUrl}" class="logo">Cromxt</a>
        </div>
        <div>
          <a
            th:href="@{${baseUrl}+'/auth/find-account'}"
            class="button__primary"
            >Find Account <i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </nav>
    </header>

    <main>
      <div class="content-box">
        <h1 class="text-heading__small align-text__center">
          Welcome to
          <span class="text-color__primary">Cromxt-Services </span> and
          <span class="text-color__primary"> Distributed</span> Systems
        </h1>
        <div class="flex-row section-container">
          <div class="form-container flex-column">
            <h2 class="text-title__large text-color__secondary">Sign In</h2>
            <form
              th:action="@{${baseUrl}/auth/authenticate(redirectUrl=${redirectUrl})}"
              method="POST"
              class="form"
            >
              <div class="input">
                <label class="input-label" for="username"
                  >Email Or Username</label
                >
                <div class="flex-row">
                  <input
                    th:value="${username}"
                    class="text-paragraph"
                    type="text"
                    placeholder="Email Or Username"
                    name="username"
                    id="username"
                    required
                    minlength="5"
                  />
                </div>
              </div>
              <div class="input">
                <label class="input-label" for="password">Password</label>
                <div class="flex-row">
                  <input
                    class="text-paragraph"
                    type="text"
                    name="password"
                    id="password"
                    placeholder="&%qufbhhbfj$#"
                    required
                    minlength="8"
                  />
                  <span class="icon" id="toggle-password"
                    ><i class="fa-regular fa-eye"></i
                  ></span>
                </div>
              </div>

              <input
                id="login"
                type="submit"
                value="Login"
                class="button__primary"
              />
              <a th:href="${baseUrl}+'/auth/register'" class="button__secondary"
                >Not have an account? Register <i class="fas fa-arrow-right"></i
              ></a>
            </form>
          </div>
          <div class="image-container">
            <img
              alt="Login"
              style="width: 100%"
              class="illustration"
              th:src="${baseUrl}+'/assets/login.svg'"
            />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
