@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background: #F7F7F7;
  --foreground: #4A4949;
  --color-primary: #D131A1;
  --color-secondary: #574FCF;
  --gutter-small: 8px;
  --gutter-medium: 16px;
  --gutter-large: 32px;
  --gutter-xlarge: 48px;
}

.text-heading__large{
  font-family: "Noto Serif", sans-serif;
  font-size: 72px;
  font-weight: 800;
  letter-spacing: -2px;
}
.text-heading__small{
  font-size: 48px;
  font-weight: 700;
}
.text-title__large{
  font-size: 32px;
  font-weight: 600;
}
.text-title__small{
  font-size: 24px;
  font-weight: 600;
}
.text-paragraph{
  font-size: 16px;
  font-weight: 500;
}
.input-label{
  font-size: 18px;
  font-weight: 500;
}
.text-color__primary{
  color: var(--color-primary);
}
.text-color__secondary {
  color: var(--color-secondary);
}
.logo{
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

body{
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.content-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 8px 16px;
}

.illustration{
  width: 100%;
}
.align-text__center{
  text-align: center;
}
.section-container{
  gap: var(--gutter-large);
}
.heading{

}
.button__primary{
  width:fit-content;
  background-color: var(--color-primary);
  transition: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  color: var(--background);
  padding: 8px 20px;
  border:none;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
.button__primary:hover{
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid var(--color-primary);
}
.button__secondary{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-secondary);
}
.button__secondary:hover{
  text-decoration: underline;
}

.form-container{
  max-width: fit-content;
  gap: var(--gutter-large);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-medium);
  max-width: 100%;
}
.form #login{
  min-width:100px;
}

.input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: left;
  min-width: 250px;
  gap: 6px;
}
.input div{
  border: 1px solid var(--foreground);
  padding: 0 var(--gutter-small);
  outline: none;
  width: 100%;
  border-radius: 9999px;
  height: 35px;
}
.input input {
  height:100%;
  width: 100%;
  border-radius: 9999px;
  border: none;
  background-color: transparent;
  padding: var(--gutter-small);
}
.input select{
  height:100%;
  width: 100%;
  border-radius: 9999px;
  border: none;
  background-color: transparent;
  padding: var(--gutter-small);
}

.input input::placeholder{
  color: #94a3b8;
}
.input input:focus{
  outline: none;
}
.input select:focus{
  outline: none;
}
.input .icon{
  cursor: pointer;
}
.input label{
  margin: 0 var(--gutter-small);
}
.image-container{
  min-width: 270px;
}
.file-input .avatar-preview{
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #D9D9D9;
  background-size: cover;
  background-position: center;
}
.file-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.file-input .text-paragraph{
  color: var(--color-primary);
  cursor: pointer;
}
.file-input .text-paragraph:hover{
  text-decoration: underline;
}
.file-input .icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.file-input .icon i{
  font-size: 40px;
}
#avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}
#avatar::-webkit-file-upload-button{
  display: none;
}
#avatar::file-selector-button{
  display: none;
}
.input-groups{
  gap: var(--gutter-medium);
}

.error{
  border: 2px solid red !important;
}

nav{
  padding: var(--gutter-medium) var(--gutter-large);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.account-list{
  display: flex;
  gap: var(--gutter-medium);
  background-color: #fff;
  border: 1px dashed var(--foreground);
  border-radius: 5px;
  min-width: 300px;
  padding: var(--gutter-small) var(--gutter-medium);
  max-width: 250px;
  scroll-behavior: auto;
}

@media screen and (max-width: 660px) {
  .image-container{
    display: none;
  }
}

.account-card{
  width: 80%;
  justify-content: space-between;
  padding: 4px var(--gutter-medium);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.card-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.card-avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-name{
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 auto;
}
.card-name:hover{
  text-decoration: underline;
}

